node_modules/
vendor/
__pycache__/
venv/
.venv/
*.class
*.o
*.pyc
build/
dist/
target/
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
.idea/
.vscode/
.project
.settings/
.env
config.json
secrets.yml
data
notebooks
src/data/raw/
notebooks
src\models\mlruns